*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: poppins;
}

.container{
        width:100%;
        height: 100vh;
        background:linear-gradient(90deg,rgb(54, 54, rgb(0, 0, 0)1,18),rgb(58, 0, 72));
}

.parent{
        width: 80%;
        height: 90%;
        position:absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background-color: #320045;
        box-shadow: 5px 5px 20px black;
        color: white;
        overflow: hidden;
}

.parent nav{
        display:flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 50px;
        height: 15%;
        /* background-color: plum; */
}

nav h1{
        font-size: 35px;
        font-weight: 600;
        margin-left: 40px;
        color: #b300ff;
        position: relative;
}

nav h1::before{
        content: '';
        width:20px;
        height: 20px;
        position: absolute;
        top: 50%;
        left: -40px;
        transform: translateY(-50%);
        background:linear-gradient(90deg,rgb(242, 141, 255),rgb(234, 0, 255));
}

nav ul{
        display: flex;

}

nav ul li{
        list-style-type: none;
}

ul li a{
        text-decoration: none;
        padding: 5px 20px;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 17px;
        color: white;
        transition: 0.5s ease;
}

ul li a:hover{
        text-decoration: underline;
        color: rgb(212, 0, 255);
        
}

ul li #sub{
        text-decoration: none;
        color: white;
        background-image: linear-gradient(90deg,#8000ff,#300042,#dd00ff);
        margin: 10px;
        padding: 10px 30px;
        text-align: center;
        transition: 0.5s;
        background-size: 200% auto;
        border-radius: 20px;
}

ul li #sub:hover{
        background-position: right center;
}

.parent .main_content{
        display: flex;
        height: 85%;

}

.main_content .left{
        width: 50%;
        height: 100%;
        padding: 40px 80px;
}

.left h3{
        font-weight: 600;
        font-size: 25px;
        text-transform: uppercase;
        margin-top: 40px;
}

.left h1{
        font-size: 55px;
        font-weight: 600;
        margin-bottom: 20px;
        line-height: 60px;
        text-transform: uppercase;
}

.left h1 span{
        color: rgb(255, 255, 255);
}

.left p{
        font-size: 12px;
        font-weight: 400;

}

.left h2{
        text-decoration: underline;
        margin: 10px 0;
        font-weight: 500;
}


.left button{
        padding: 7px 15px;
        border-radius: 5px;
        font-size: 12px;
        border:none;
        outline:none;
        letter-spacing: 1px;
        margin-top: 40px;
        background-color: #d900ff;
        color: rgb(255, 255, 255);
        cursor: pointer;
        transition: 0.5s ease;
}

.left button:hover{
        background-color: rgb(27, 0, 61);
        box-shadow: 0 0 10px rgb(255, 255, 255);
}

.main_content .right{
        width: 60%;
        height: 100%;
        padding-left: 100px;
        overflow: hidden;
}

.right img{
        width: 515px;
        transform: translateY(157px);
        filter: saturate(135%);
}

.gradient{
        width: 350px;
        height: 350px;
        position: absolute;
        top: 48%;
        left: 56%;;
        border-radius: 50%;
        background-color: rgb(85, 0, 255);
        z-index: -1;
        filter: blur(50px);
        box-shadow: 
        0 0 250px rgb(85, 0, 255),0 0 200px rgb(73, 0, 81),0 0 150px rgb(204, 0, 255);
}